{% extends "base.html" %}
{% load static %}
{% block title %}Ubicacion{% endblock title %}

{% block body %}
  <section class="py-5 bg-white" id="ubicacion">
    <div class="container">
      <div class="row">
        <!-- Información -->
        <div class="col-lg-6 mb-4 mb-lg-0">
          <h2 class="mb-3">¿Dónde estamos?</h2>
          <p class="mb-4">Encuéntranos en el corazón de la ciudad. Ven a disfrutar de una experiencia gastronómica única con el sabor casero que solo La Tía Alkahueta ofrece.</p>
          
          <ul class="list-unstyled">
            <h5>CAMARA DE COMERCIO ESPINAL - TOLIMA</h5>
            <li><i class="bi bi-geo-alt-fill me-2 text-primary"></i>Dirección: Cra 3 # Calle 21</li>
            <li><i class="bi bi-telephone-fill me-2 text-primary"></i> 3173676288 / 3165109802</li>
            <li><i class="bi bi-envelope-fill me-2 text-primary"></i> contacto@latiakahueta.com</li>
          </ul>

          <!-- Redes Sociales -->
          <div class="mt-4">
            <a href="https://www.facebook.com/people/Tia-Alkahueta/61569915031492/?_rdr" class="text-primary me-3 fs-4"><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/la_tia_alcahueta_/?hl=es" class="text-white"><i class="bi bi-instagram"></i></a> 
            <a href="https://wa.me/3173676288" class="text-success fs-4"><i class="bi bi-whatsapp"></i></a>
          </div>
        </div>

        <!-- Mapa de Google -->
        <div class="col-lg-6">
          <div class="ratio ratio-16x9">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3979.3552748361726!2d-74.90152433180351!3d4.150353436980454!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3ed3e655244c61%3A0xecb4e8b9012403e7!2sCamara%20De%20Comercio%20del%20Sur%20y%20Oriente%20del%20Tolima!5e0!3m2!1ses!2sco!4v1746995102868!5m2!1ses!2sco" width="600" height="80" frameborder="0" style="border:0" allowfullscreen>
            </iframe>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}